/* general css */
html {
  color: #FFFFFF;
  background-color: #000000;
  font-size: 1.5em;
  line-height: 1.4;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  padding: 8% 8% 0% 8%;
  display: grid;
  gap: 0.5em;
  grid-template-areas:
    'header'
    'intro'
    'job'
    'books'
    'socials'
    'aside';
}

::-moz-selection {
  background: #A0A0A0;
  text-shadow: none;
}

::selection {
  background: #A0A0A0;
  text-shadow: none;
}

a, a:visited {
  color: #FFFFFF;
}

.magic {
  font-weight: bold;
  background-image: linear-gradient(100deg, #2196F3 0%, #9C27B0 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.list {
  display: flex;
  gap: 1em;
  padding-top: 0.5em;
  flex-wrap: wrap;
  justify-content: center;
  max-width: fit-content;  
}

main section {
  padding: 0.5em 0;
}

/* header section */
header {
  grid-area: header;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  line-height: 1.1;
}

/* intro section */
.intro {
  grid-area: intro;
  max-width: 800px;
}

/* job section */
.job {
  grid-area: job;
}

/* books section */
.books {
  padding-top: 0.5em;
  grid-area: books;
}

.book {
  transform: scale(1);
  max-width: 200px;
}

.book:hover {
  z-index: 100;
  transform: scale(1.1);
}

@media (hover: none) {
  .book:hover {
    transform: scale(1);
  }
}

.picture-book {
  width: 100%;
  border-radius: 10px;
}

.book, .picture-book {
  transition: all 300ms ease-out;
}

/* socials section */
.socials {
  padding-top: 1em;
  grid-area: socials;
}

.socials .list {
  padding-top: 0;
}

.social svg {
  fill: #FFFFFF;
  opacity: 0.8;
  transition: all 300ms ease-in-out;
}

.social svg:hover {
  z-index: 100;
  opacity: 1;
  transform: scale(1.1);
}

@media (hover: none) {
  .social svg:hover {
    opacity: 0.8;
    transform: scale(1);
  }
}

/* picture of me */
aside {
  grid-area: aside;
}

aside picture {
  display: flex;
  justify-content: center;
}

.picture-me {
  width: 50%;
}

/* responsive media queries */
@media only screen and (min-width: 600px) {
  /* s */
  .picture-me {
    width: 30%;
  }
}

@media only screen and (min-width: 768px) {
  /* m */
  body {
    padding: 5% 25% 5% 5%;
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      'header   aside'
      'intro    aside'
      'job      aside'
      'books    aside'
      'socials  aside';
  }

  aside picture {
    display: flex;
    justify-content: flex-start;
  }

  .picture-me {
    position: fixed;
    bottom: 0;
    height: 80%;
    width: auto;
  }
}

@media only screen and (min-width: 768px) and (orientation: portrait) {
  /* fix for larger devices in portrait mode */
  .picture-me {
    max-height: 50%;
    right: 0.5em;
  }
}

@media only screen and (min-width: 992px) {
  /* l */
  html {
    font-size: 2em;
  }

  body {
    padding: 5% 25% 5% 10%;
  }

  .picture-me {
    height: 90%;
  }
}

@media only screen and (min-width: 1200px) {
  /* xl */
  body {
    padding: 5% 35% 5% 15%;
  }
}

/* print media queries */
@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: attr(title) " (" attr(href) ")";
  }

  .list {
    flex-direction: column;
  }

  section {
    page-break-inside: avoid;
  }

  .book {
    width: 100%;
    max-width: 100%;
  }

  .book img {
    max-width: 200px;
  }

  .socials .list {
    padding-top: 0.5em;
  }

  .social svg {
    display: none;
  }

  .picture-me {
    display: none;
  }
}
